<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started with the quirkiest app on earth</ion-card-subtitle>
      <ion-card-title>AirDnD</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for pranking people with fake rentals</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full"  (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" (click)="register()">Create an AirDnD account</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>