<ion-header>
    <ion-toolbar>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form #form="ngForm" (ngSubmit)="register(form)" method="post">
      <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input ngModel name="firstname"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input ngModel name="surname"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Cellphone</ion-label>
        <ion-input ngModel name="cellPhone"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" ngModel name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" ngModel name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Role</ion-label>
        <ion-input ngModel name="role"></ion-input>
      </ion-item>
    
      <ion-button type="submit" expand="full" color="danger">Register</ion-button>
 </form>
 <p text-center>Already have a account with a different email?</p>
    <ion-button expand="full" color="primary" (click)="dismissAll()">Login</ion-button>
  </ion-content>  