<ion-header>
    <ion-toolbar>
      <ion-title>Forget Your Password?</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
<form #form="ngForm" (ngSubmit)="fPass(form)" method="post">
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" ngModel name="email"></ion-input>
      </ion-item>
    
     
      <ion-button type="submit" expand="full" color="danger">Submit</ion-button>
   </form>
   <p text-center>Remember your password?</p>
    <ion-button expand="full" color="primary" (click)="dismissforget()">Login</ion-button>
  </ion-content>  